html {
    scroll-behavior: smooth;
    margin: 0px 0px 0px 0px;
    font-size: 100%;
}

.CanvasHome {
    position: sticky;
    height: 100vh;
    width: 100vw;
    z-index: -100;
}

body {
    height: fit-content;
    .post-image {
        border-radius: 5px;
        -moz-box-shadow: 0px 0px 46px -6px rgba(255, 255, 255, 1);
        box-shadow: 0px 0px 46px -6px rgba(255, 255, 255, 1);
    }
    h1,
    h2,
    h3 {
        text-align: center;
    }
    overflow-x: hidden;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    width: 100vw;
    height: fit-content;
    background-size: cover;
    a {
        text-shadow: 0 0 2px rgb(255, 255, 255);
        text-decoration: none;
        color: rgb(212, 212, 212);
        transition-duration: .5s;
        transition-timing-function: ease-in-out;
    }
    a:link {
        color: rgb(255, 255, 255);
    }
    a:visited {
        color: rgb(255, 255, 255);
    }
    a:hover {
        text-shadow: 0 0 4px rgb(255, 255, 255);
        color: rgb(255, 255, 255);
    }
    a:active {
        color: rgb(255, 255, 255);
        ;
    }
    .top-nav-bar {
        z-index: 999;
        font-size: 34px;
        position: fixed;
        width: 100%;
        height: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        padding: 10px;
        background-color: rgb(43, 43, 43);
        color: rgb(212, 212, 212);
    }
    .centre-div {
        padding-top: 65px;
        flex-direction: row;
        width: 100%;
        height: fit-content;
        min-height: 90vh;
    }
    .centre-div-content {
        visibility: visible;
        padding: 5px;
        width: 100vw;
        min-height: 90vh;
        float: left;
        background-color: rgba(66, 66, 66, 0.938);
        color: invert(rgb(66, 66, 66));
        font-size: 20px;
    }
    .blog-nav {
        transition-duration: 0.5s;
        backdrop-filter: blur(25px);
        visibility: hidden;
        position: fixed;
        z-index: 100;
        padding: 50px;
        width: 100vw;
        min-height: 100vh;
        background-color: rgba(177, 177, 177, 0.26);
        color: rgb(255, 255, 255);
        transition-duration: .5s;
        font-size: 14px;
        .postList {
            font-size: 20px;
            padding-right: auto;
            padding-left: auto;
        }
        h2 {
            font-size: 35px;
        }
    }
    .footer {
        float: left;
        padding: 5%;
        width: 100vw;
        height: 100px;
        font-size: 20px;
        background-color: rgb(0, 0, 0);
        color: white;
    }
}

::-webkit-scrollbar {
    width: 20px;
}

 ::-webkit-scrollbar-track {
    background: #00000077;
}

 ::-webkit-scrollbar-thumb {
    background: rgb(255, 255, 255);
}

 ::-webkit-scrollbar-thumb:hover {
    background: rgb(145, 145, 145);
}